@import '../../../../styles/conf';
.fieldItem{
  height: 100%;
  position: relative;
  // min-height: 780px;
  min-height: 640px;
  overflow: hidden;
  iframe{
    height: 100%;
    position: absolute;
    // top:-121px;
    margin: 0;
    padding: 0;
  }
  label{
    font-weight: bold;
  }
  .fieldInput{
    margin: 5px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .fieldItem{
    iframe{
      top:-160px;
    }
  }
}
