.subheader_main {
  margin-bottom: 15px;
  .material-icons {
    font-size: 20px;
  }
  .page-header{
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #434349;
  }
  .subheader_breadcrumbs {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    .subheader_breadcrumbs-home {
        // padding: 0 .65rem 0 0;
        transition: all .3s;
        color: #959cb6;
    }
    .subheader_breadcrumbs-link {
      padding: 0 .35rem 0 0;
      font-size: 1rem;
      font-weight: 500;
      color: #959cb6;
      transition: all .3s;
      text-decoration: none;
      background-color: transparent;
    }
    .subheader_breadcrumbs-separator {
        display: flex;
        justify-content: content;
        align-items: center;
        // padding: 0 .35rem 0 0;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: #e7e8ef;
        margin: 0 0.35rem 0 0;
    }
  }
  .subheader_separator {
      display: block;
      width: 12px;
      height: 4px;
      border-radius: 2px;
      background: #e7e8ef;
      margin: 0 1rem 0 0;
      background: #dedfe9;
  }
}
