@font-face {
    font-family: 'Arial';
    // src: url('../assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import "~@ng-select/ng-select/themes/material.theme.css";
// $font-family: 'Fontil Sans, monospace',
$custom-typography: mat-typography-config(
    $font-family: 'Arial',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

.mat-toolbar.mat-primary {
    background: $primary;
    color: $white;
}
