<div class="ili-panel inquiry_panel">
  <span class="txt-email-notes">Separate multiple email addresses with a comma followed by a space</span>
  <div class="confirmation_text_block">
    <input type="text" placeholder="To email address" id="email" [(ngModel)]="block.data.email" class="form-control input-sm url_block_url">
  </div>
  <div class="confirmation_text_block">
    <input [(ngModel)]="block.data.inquiryText" type="text" placeholder="Type your inquiry here" id="inquiry-text" class="form-control input-sm url_block_url">
  </div>
</div>
